*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
  background: #372948;

}

.signin_body {
    padding: 60px;
    z-index: 90;
    position: relative;
    max-width: 450px;
    height: 400px;
    margin-left: 50%;
    background: #251b31;    
    border-radius: 10px;
    box-sizing: border-box;
    transform: translate(-50%, 20%)
}

.signin_body h2 {
    padding-left: 110px;
    font-size: 32px;
    color: #EEEEEE;
    margin-top: 0;
    padding-bottom: 12px;
}

.signin_body input {
    height: 50px;
    width: 100%;
    border-radius: 3px;
    color: #372948;
    background: #EEEEEE;
    border: 1px solid #EEEEEE;
    padding-left: 15px;
    box-sizing: border-box;
    outline: none;
}

.input_wrap {
    margin-bottom: 25px;
}

.signin_body button {
    cursor: pointer;
    height: 50px;
    width: 100%;
    color: #FFECEF;
    background: #633996;
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid #633996;
}

p {
    color: #EEEEEE;
}

.signup_body {
    padding: 60px;
    z-index: 90;
    position: relative;
    max-width: 450px;
    height: 540px;
    margin-left: 50%;
    background: #251b31;    
    border-radius: 10px;
    box-sizing: border-box;
    transform: translate(-50%, 10%);
    margin-bottom: 100px;
 
}

.signup_body h2 {
    padding-left: 110px;
    font-size: 32px;
    color: #EEEEEE;
    margin-top: 0;
    padding-bottom: 12px;
}

.signup_body input {
    height: 50px;
    width: 100%;
    border-radius: 3px;
    color: #372948;
    background: #EEEEEE;
    border: 1px solid #EEEEEE;
    padding-left: 15px;
    box-sizing: border-box;
    outline: none;
}

.input_wrap {
    margin-bottom: 25px;
}

.signup_body button {
    cursor: pointer;
    height: 50px;
    width: 100%;
    color: #FFECEF;
    background: #633996;
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid #633996;
}
